body {
	margin: 0pt;
	font-family: sans-serif;
	font-size: 10pt;
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 16pt;
}

span.phc {
	color: #882222;
}
